body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 30px;
}

.pieOne {
  float: left;
  margin: 0 auto;
  width: 50%;
  }
  
  .pieTwo {
  float: right;
  margin: 0 auto;
  width: 50%;
  }
  .iowa .dc-chart {
    float: none;
    margin: auto;
    display: block;
  }

  header, article, section{
    max-width: 990px;
    margin: 0 auto 2em;
    overflow: hidden;
  }

  section .dc-chart {
    width: 50%;
    box-sizing: border-box;
  }

  #districts {
    width: 100%;
  }

  p {
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    color:#870d17;
    text-align: center;
    padding: 1em;
  }

  .form {
    text-align: center;
    margin-bottom: 20px;
  }

.legend {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.markup {
  padding-top: 10px;
}

table{
  margin: 0 auto;
  font-size: 1vw;
  text-align: center;
  width: 80%;
}

th{
  font-weight: bolder;
  font-size: 3vh;
}

td, th{
  padding: 10px;
  border: solid rgb(86,0,10);
  box-sizing: border-box;
  text-align: center;
}

#csResponses .pie-slice{
  fill:#000000;
  stroke: black;
}

g.SchoolName path {
  stroke: #870d17;
}
g.SchoolName.selected path {
  stroke: #870d17;
  stroke-width: 2px;
}
g.SchoolName.deselected path {
  stroke: #870d17;
  fill: white;
}