body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 30px;
}

.pieOne {
  float: left;
  margin: 0 auto;
  width: 50%;
  }
  
  .pieTwo {
  float: right;
  margin: 0 auto;
  width: 50%;
  }
  .iowa {
    width: 100%; 
    clear: both;
    overflow: hidden;
  }
  .iowa article {
    width: 50%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .iowa img {
    width: 100%;
  }

  p {
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    color:#870d17;
  }

  .form {
    text-align: center;
    margin-bottom: 20px;
  }

.legend {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.markup {
  padding-top: 10px;
}

table{
  margin: 0 auto;
  font-size: 1vw;
  text-align: center;
  width: 80%;
}

th{
  font-weight: bolder;
  font-size: 3vh;
}

td, th{
  padding: 10px;
  border: solid rgb(86,0,10);
  box-sizing: border-box;
  text-align: center;
}

#csResponses .pie-slice{
  fill:#000000;
  stroke: black;
}